<div class="container">
  <div class="row">
    <a href="#"><div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="./../../../assets/images/peliculas/0A New Hope.jpg" /></div></a>
    <a href="#"><div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="./../../../assets/images/peliculas/1The Empire Strikes Back.jpg" /></div></a>
    <a href="#"><div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="./../../../assets/images/peliculas/2Return of the Jedi.jpg" /></div></a>
    <a href="#"><div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="./../../../assets/images/peliculas/3The Phantom Menace.jpg" /></div></a>
    </div>
    <div class="row">
    <a href="#"><div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="./../../../assets/images/peliculas/4Attack of the Clones.jpg" /></div></a>      
    <a href="#"><div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="./../../../assets/images/peliculas/5Revenge of the Sith.jpg" /></div></a>
    <a href="#"><div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="./../../../assets/images/peliculas/6The Force Awakens.jpg" /></div></a>

  </div>
</div>
