<div class="container">
  <button (click)="cargarStars()">Carga</button>
  <!-- Add etiqueta para abrir venta Modal y ajuste de rutas de imagenes CMS 18.04.2020 -->
  <div *ngFor="let lista of datos">
    <div class="row">
      <!-- sección de una sola imagen CMS 18.04.2020 -->
      <a href="#" data-toggle="modal" data-target="#myModal">
        <div class="col-md-3 col-sm-4 col-xs-6">
          <img class="img-responsive" src="./assets/images/peliculas/{{lista.imagen}}" />
        </div>
      </a>

      <!-- Fin sección de una sola imagen CMS 18.04.2020 -->
    </div>
  </div>
</div>

<!-- ADD CMS 18.04.2020 Ventana modal-->
<app-especificaciones></app-especificaciones>
<!-- Fin ADD CMS 18.04.2020 Ventana modal-->