.cuerpo{
    width: 100%;
    display: inline-block;
}

#imagen{
    width: 100%;
    
}
.columna {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 300px 300px 300px;
  padding-left: 5%;
  padding-right: 5%;
  margin-left: 5%;
  margin-right: 5%;
}