<!--Comentado CMS 18.04.2020-->
        <!--<app-header-principal></app-header-principal> "Paulo"
        <app-especificaciones></app-especificaciones> "César"
        <app-footer-principal></app-footer-principal> "Paulo"-->
<!--Fin Comentado CMS 18.04.2020-->

<!--Add CMS 18.04.2020-->
<app-header-principal></app-header-principal>
<router-outlet></router-outlet>
<!-- <app-especificaciones></app-especificaciones> -->
<app-footer-principal></app-footer-principal> <!--CMS 18.04.2020: Esta parte esta chocando con el catalogo revisar-->
<!--Fin Add CMS 18.04.2020-->

