/**************css para la fuente de la letra***********/
@font-face
{
	font-family: starjedilines;
	src: url("./../../../assets/fonts/font-starjedi-lines.ttf");
}


/*************************estilos generales*****************/

.principal_footer
{
	height: 10%;
	width: 80%;
	margin-left: 9%;
	margin-right: 9%;
	text-align: center;
	font-family: starjedilines;
	font-size: 13px;
	color: #FFDE06;
}


#div_info_poli, #div_img, #div_info_group
{
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}


hr
{
	border-color: #FFDE06;
}

/*************************estilos para el div de la imagen*****************/
#div_img
{
	width: 30%;
	padding: 3 3 3 0px;
	margin-right: 2px;
	height: 30%;
}

#img_poli
{
	height: 80%;
	width: 80%;
}

/*************************estilos para los divs con info del poli y del equipo*****************/
#div_info_poli,#div_info_group
{
	width: 32%;
	text-align: center;
	font-family: starjedilines;
	font-size: 13px;
	color: #FFDE06;
	letter-spacing: 0.20em;
	padding: 3 0 3 3px;
	margin-left: 1%;
}



