<div class="principal_footer">
	<hr>
	<div id="div_img">
		<a href="https://www.poli.edu.co/">
			<img src="./../../../assets/images/logoPoli.png" alt="logo_poli" id="img_poli">
		</a>
	</div>
	<div id="div_info_poli">
		<label><strong>Institución Universitaria Politecnico Grancolombiano</strong></label>
		<br>
		<label><em>Facultad Ingeniería, Diseño e Innovación</em></label>
		<br>
		<label><strong>Materia:</strong> Front End</label>
		<br>
		<label><strong>Profesor:</strong> Carlos Ivan Rivera Parra</label>
		
	</div>
	<div id="div_info_group">
		<label><strong><em>Integrantes:</em></strong></label>
		<br>
		<label>Mabel Yised Prieto Rojas.</label>
		<br>
		<label>Yeimy Lorena Forero Martinez.</label>
		<br>
		<label>Juan Carlos Rios Roncancio.</label>
		<br>
		<label>Paulo Cesar Leal Sepulveda.</label>
		<br>
		<label>Cesar Mauricio Salcedo Acuña.</label>
	</div>
	<br>
	<br>
	<br>
	<label><strong><em>&copy; Copyrigth 2020</em></strong></label>
</div>
