<div class="principal_header">
	<div class="div_header" id="div_logo">
		<a [routerLink]="['']">
			<img src="https://fontmeme.com/permalink/200410/fa4d93658295f69ccc86f10735039722.png" alt="fuente-de-star-wars" id="logo_principal">
		</a>
	</div>
	<div class="div_header" id="div_search_menu">
		<div id="div_search">
			<section class="search_section">
				<form class="search_form" >
					<input type="search" class="form-control" name="input_search" placeholder="Enter the film or year to find" autocomplete="off" [(ngModel)]="filterPost">
					<button type="submit">Find</button>
				</form>
			</section>	
		</div>
		<div id="div_menu">
			<nav>
				<ul>
					<li><a [routerLink]="['films']">Films</a></li>
					<li><a [routerLink]="['planets']">Planets</a></li>
					<li><a [routerLink]="['characters']">Characters</a></li>
					<li><a [routerLink]="['species']">Species</a></li>
					<li><a [routerLink]="['vehicles']">Vehicles</a></li>
					<li><a [routerLink]="['spaceships']">Spaceships</a></li>
				</ul>
			</nav>
		</div>
	</div>
	<hr>
</div>
