<div class="principal_header">
	<div class="div_header" id="div_logo">
		<a href="">
			<img src="https://fontmeme.com/permalink/200410/fa4d93658295f69ccc86f10735039722.png" alt="fuente-de-star-wars" id="logo_principal">
		</a>
	</div>
	<div class="div_header" id="div_search_menu">
		<div id="div_search">
			<section class="search_section">
				<form action="" method="" accept-charset="utf-8" class="search_form">
					<input type="search" name="input_search" placeholder="Enter the film or year to find">
					<button type="submit">Find</button>
				</form>
			</section>	
		</div>
		<div id="div_menu">
			<nav>
				<ul>
					<li><a [routerLink]="['films']">Films</a></li>
					<li><a href="#prueba">Planets</a></li>
					<li><a href="#prueba">Characters</a></li>
					<li><a href="#prueba">Species</a></li>
					<li><a href="#prueba">Vehicles</a></li>
					<li><a href="#prueba">Spaceships</a></li>
				</ul>
			</nav>
		</div>
	</div>
</div>
