<div >
	<div class="div_header" id="div_logo">
		<img src="../images/principalFont.png" alt="logo Star Wars App">
	</div>
	<div id="div_search" class="div_header">
		<section class="search_section">
			<form action="" method="" accept-charset="utf-8" class="search_form">
				<input type="search" name="input_search" placeholder="Enter the film or year to find">
				<button type="submit">Find</button>
			</form>
		</section>	
	</div>
	<div id="div_menu" class="div_header">
		<nav>
			<ul>
				<li><a href="#prueba">prueba</a></li>
			</ul>
		</nav>
	</div>
</div>