

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Planets
  </button> 
  
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header"  style = "background-image: url('https://images3.alphacoders.com/114/11439.png')">
          <h5 class="modal-title" id="exampleModalLabel">Crait</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style = "background-image: url('https://images7.alphacoders.com/805/805197.jpg')">

            <div class="col-lg-6 rounded float-right">
                <img class="img-thumbnail" src="https://vignette.wikia.nocookie.net/es.starwars/images/1/13/Crait_TLJVD.png/revision/latest?cb=20190604003536" />
            </div>
            
          <p class="text-justify text-white" >Small mineral planet located in a remote section of the galaxy, 
         its surface is covered with a layer of white salt over its red-colored soil. 
         In Leia, Princess of Alderaan it is the location of an early Rebel Alliance outpost. 
         Leia and her remaining Resistance forces flee there in The Last Jedi, 
         where they face off with the First Order. </p>
             
        </div>
        <div class="modal-footer" style = "background-image: url('https://images3.alphacoders.com/114/11439.png')">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <!--<button type="button" class="btn btn-primary">Save changes</button>-->
        </div>
      </div>
    </div>
  </div>

 