/* You can add global styles to this file, and also import other style files */
body {
	background-image: url("https://images7.alphacoders.com/805/805197.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	text-align: center;
}

*
{
	text-align: center;
}
/*}*/
